@mixin font-set(
  $size: false,
  $weight: false,
  $line-height: false,
  $letter-spacing: false,
  $colour: false
) {
  @if $size {
    font-size: $size;
  }
  @if $weight {
    font-weight: $weight;
  }
  @if $line-height {
    line-height: $line-height;
  }
  @if $letter-spacing {
    letter-spacing: $letter-spacing;
  }
  @if $colour {
    color: $colour;
  }
}

// @include font-set(false, false, false, false, false);
